---
Checks:          '*,
-*-else-after-return,-*-use-emplace,
-altera-id-dependent-backward-branch,-altera-struct-pack-align,-altera-unroll-loops,
-llvm-header-guard,
-cert-err58-cpp,
-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-const-cast,-cppcoreguidelines-avoid-non-const-global-variables,
-fuchsia-default-arguments-declarations,-fuchsia-default-arguments-calls,-fuchsia-statically-constructed-objects,
-llvmlibc-callee-namespace,-llvmlibc-implementation-in-namespace,-llvmlibc-restrict-system-libc-headers,-llvmlibc-inline-function-decl,
-modernize-use-nodiscard,-modernize-use-using,-modernize-use-trailing-return-type,
-performance-avoid-endl,
-portability-std-allocator-const,
-readability-identifier-length,-readability-container-data-pointer,-readability-const-return-type,-readability-isolate-declaration'
WarningsAsErrors: ''
HeaderFileExtensions:
  - hxx
ImplementationFileExtensions:
  - cxx
HeaderFilterRegex: 'hxx'
FormatStyle:     none
